---
layout: default
---

{% for release in site.data.releases.with_images %}

{% assign mod = forloop.index0 | modulo:3%}

{% if mod == 0 %}
<div class="row release-row">
{% endif %}

  <div class="release col-xs-12 col-md-4">
    <div class="release-img">
      {% if release.link %}
      <a href="{{release.link}}">
      {% endif %}
        <img class="img-responsive" src="{{ release.image }}" alt="">
      {% if release.link %}
      </a>
      {% endif %}
    </div>
    {% if release.link %}
      <a href="{{ release.link }}">
    {% endif %}
        <div class="title">
          <h3>{{ release.artist}} - {{ release.title }}</h3>
        </div>
        <h4>{{ release.annotation }}</h4>
    {% if release.link %}
      </a>
    {% endif %}
  </div>
{% if mod == 2 or forloop.last %}
  </div>
{% endif %}
{% endfor %}

<hr style="border-color:gray; width: 40%;">

<div class="row">
  <div class="col-xs-12">

    <h3><u>Other Releases</u></h3>

    {% for release in site.data.releases.no_images %}
    <div class="release-text">
      <span class="lead">{{ release.artist }} - {{ release.title }}</span>
      <p/>
      {{ release.annotation }}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $.each($(".release-row"),function() {
    var titles = $(this).find('.title');
    console.log(titles);
    var h3Height = Math.max.apply(Math,titles.map(function() { return $(this).height() }));
    titles.height(h3Height);
  });

</script>